/* Shared Styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

* {
    font-family: 'Mulish', sans-serif;
}



.text-primary {
    color: #FF5400;
}

.text-secondary {
    color: crimson;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    background: #FF5400;
    /* font-size: 20px;
    font-weight: 400; */
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    margin: 100px;
}

/* Header Styles */
/* header {
    padding: 50px 240px;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    /* font-size: 2.25rem;
    font-weight: 800; */
    display: flex;
    align-items: center;
    justify-content: start;
}

nav>ul {
    display: flex;
    gap: 2.75rem;
}

nav li {
    list-style: none;
    /* margin-right: 44px; */
    font-weight: 400;
    font-size: 1.125rem;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.banner {
    /* border: 1px solid rebeccapurple; */
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    /* margin: auto; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.input-fields {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    justify-content: center;
    align-items: center;
}

.input-fields .btn-primary {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

/* Main Styles */

/* First Section */
.popular-tours {
    display: flex;
    justify-content: space-between;
    /* gap: 24px; */
    /* align-items: center; */
    /* width: 577px; */
    /* margin-left: 135px;
    margin-right: 135px; */
    margin-bottom: 100px;
}

.popular-tours-description {
    width: 50%;
}


.popular-tours h3 {
    margin-bottom: 1.5rem;
}

.popular-tours ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    /* gap: 24px; */
}

/* .popular-tours .popular-tours-description li {
    gap: 1rem;
} */

.popular-tours .btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 32px;
}

.choose-destination {
    width: 100%;
}

.choose-destination-content {
    align-items: center;
    text-align: center;
}

.choose-destination-img {
    width: 100%;
    box-sizing: border-box;
}

.choose-destination-img img {
    width: 100%;
    box-sizing: border-box;
}

.choose-destination-content {
    margin-bottom: 3rem;
    width: 100%;
}

.row{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}



.txt {
    position: relative;
}


.row img {
    width: 100%;
}

.txt .img-txt {
    position: absolute;
    color: #FFF;
    font-size: 28px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}

.why-choose-us {
    text-align: center;
    margin-bottom: 6.25rem;
}

.why-choose-us-des {

    text-align: center;
    margin-bottom: 3rem;
    margin-top: 6.25rem;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 10px;
}

.hotels {
    width: 44%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
    text-align: left;
}

.maps {
    width: 44%;
    height: auto;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px 32px 32px;
    text-align: left;
}

.price {
    width: 43%;
    height: auto;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px 32px 32px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.perfect-place {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.25rem;
}

.perfect-place-des li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.perfect-place-des .btn-primary {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    margin-top: 2rem;
}

.perfect-place-des {
    width: 43%;
}

.newsletter {
    display: flex;
    justify-content: space-between;
}

.newsletter-form {
    border: 1px solid #FF5400;
    border-radius: 16px;
    width: 45%;
    padding: 10px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #1313181A;
    padding: 24px;
}

.newsletter form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
    padding: 16px;
    height: 52px;
    border: none;
}

/* .newsletter-img{
    height: 500px;
} */

footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 6.25rem;
    padding: 110px 336px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}

/* Responsive Styles For Mobile */
@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav,
    nav>ul,
    .banner,
    .popular-tours,
    .row,
    .services-row,
    .newsletter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row {
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    .popular-tours-description {
        width: 100%;
    }

    .input-fields {
        display: block;
        gap: 1.8rem;
    }

    
    .hotels {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
    }

    .maps {
    width: 100%;
    height: auto;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    text-align: left;
    }

    .price {
        width: 100%;
        height: auto;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        text-align: left;

    }

    .perfect-place {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 6.25rem;
        width: 100%;

    }
    .perfect-place-des {
        width: 100%;

    }
    .newsletter-form {
        border: 1px solid #FF5400;
        border-radius: 16px;
        width: 100%;
        margin: auto;

    }

    .container {
        margin: 10px
    }
    .footer-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
    }
    .main-footer p{
        width: 200px;
    }
    

   
    
    
}